<div class="address-ac">
  <input
    type="text"
    [id]="id"
    [(ngModel)]="queryText"
    [disabled]="!locality"
    (input)="onInput()"
    (focus)="onInput()"
    (blur)="onBlur()"
    (keydown.enter)="onEnter($event)"
    [placeholder]="locality ? 'Ej: Sarmiento 850' : 'Elegí tu localidad para buscar la dirección'"
    autocomplete="off"
  />

  @if (isSearching()) {
    <span class="address-ac__status">Buscando…</span>
  }

  @if (isOpen()) {
    <ul class="address-ac__list">
      @for (item of results(); track item.label) {
        <li>
          <button type="button" (click)="select(item)">
            {{ item.label }}
          </button>
        </li>
      }
    </ul>
  }
</div>
